body{

    background-image: url("https://media.tenor.com/K6AvF8a1gI8AAAAi/peppo-matrix.gif");
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100vh; 
    margin: 0;
}

.card{
    
    background-color: #5c4f4f84;  /* Un gris très foncé */
    color: #00ff00;            /* Le vert fluo classique des terminaux */
    padding: 20px;
    border-radius: 8px;
    border: 4px solid #00ff00;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.3); /* Un halo vert */
    margin: auto;
    /* On utilise max-height ici pour l'exemple */
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.3);
    max-height: 400px; 
    overflow-y: auto; /* Si le texte dépasse 400px, un scroll apparaîtra */
    text-align: center;
     
}

 a{
    color: beige; 
    text-decoration: none;

 }

 ul{
    list-style: none;
    padding: 0;
    
 }

li{
    padding: 10px;
}

 

 h2{
    padding: 20px;
    color: beige;
 }

 h1{
    text-decoration: underline;
 }

 #Mybtn:hover{
    color: #00ff00;
 }

 .fa-brands{
    margin: 10px;
 }